
body{
  margin:0;
  background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1.25rem 2rem;
    background: #1C3FAA;
    
  }
.dashboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dashboard__left{
  width: 230px;
  padding-right: 1.25rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}
.dashboard__right{
  border-radius: 30px;
  min-width: 0;
  min-height: 100vh;
  --bg-opacity: 1;
  background-color: #f1f5f8;
  flex: 1 1 0%;
  padding: 0 22px 2.5rem;
}


ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard__nav-link{
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  color: #fff;
  margin-bottom: 0.25rem;
  position: relative;
  border-radius: 9999px;
}

.dashboard__nav-link.selected{
  
  background-color: #F1F5F8;
  
}

.dashboard__nav-link.selected::before{
  content: "";
    width: 30px;
    height: 30px;
    margin-top: -30px;
    transform: rotate(90deg) scale(1.04);
    background-size: 100%;
  
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -1.25rem;
}

a{
  text-decoration: none;
}