* {
  margin-top: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Roboto;
  font-size: 1rem;
  color: #2d3748;
  margin: 0;
  background: #1e41aa;
  line-height: 1.5;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dashboard__left {
  width: 230px;
  padding-right: 1.25rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}

.dashboard__right {
  border-radius: 30px;
  min-width: 0;
  min-height: 100vh;
  --bg-opacity: 1;
  background-color: #f1f5f8;
  flex: 1 1 0%;
  padding: 0 22px 2.5rem;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
.dashboard__nav-link {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  color: #fff;
  margin-bottom: 0.25rem;
  position: relative;
  border-radius: 9999px;
  font-weight: 500;
}

.dashboard__nav-link.selected {
  background-color: #f1f5f8;
}

.dashboard__nav-link.selected::before,
.dashboard__nav-link.selected::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1.04);
  background-size: 100%;
  margin-right: -1.25rem;
}

.dashboard__nav-link.selected::after {
  margin-top: 50px;
}

.dashboard__nav-link.selected::before {
  margin-top: -30px;
  transform: rotate(90deg) scale(1.04);
}

a {
  text-decoration: none;
}

.card {
  box-shadow: 0px 3px 20px #0000000b;
  background-color: #fff;
  border-radius: 0.375rem;
  position: relative;
}
.header {
  border-bottom: 1px solid#dee7ef;
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  height: 67px;
  align-items: center;
}
.header--right {
  z-index: 51;
}

.mr-auto {
  margin-right: auto;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.dashboad__title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboad__title {
  margin-bottom: 0;
}

.dashboard__nav-link.selected {
  color: #2e51bb;
}

.dashboard__nav-link.selected .dashboard__nav-icon::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1.25rem;
  width: 3rem;
  height: 100%;
  background-color: #f1f5f8;
}
.dashboard__nav-link.selected .dashboard__nav-title{
  color: #2d3748;
}
.dashboard__nav-icon{
  margin-right: .5rem;
}


input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}