* {
    margin-top: 0;
    box-sizing: border-box;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Roboto;
    font-size: 1rem;
    color: #2d3748;
    margin: 0;
    background: #1e41aa;
    line-height: 1.5;
  }